Tunnel agent exception error

I'm using "Titanium-Web-Proxy" as Nintendo's switch console download accelerator.
I use tunnel agents to do this function

`
           var explicitEndPoint = new ExplicitProxyEndPoint(IPAddress.Any, 8000, false) {
            };
        async private static Task ExplicitEndPoint_BeforeTunnelConnectRequest(object sender, Titanium.Web.Proxy.EventArguments.TunnelConnectSessionEventArgs e) {
            e.DecryptSsl = false;
        }
`
But there was an error downloading the game, and I used Fiddler without the problem

![image](https://user-images.githubusercontent.com/4111244/77179505-880f4f00-6b03-11ea-9b9d-dcdb8b304796.png)
This is me using Fiddler as an upstream agent.


![image](https://user-images.githubusercontent.com/4111244/77179600-a5dcb400-6b03-11ea-8562-e73d91c9aa8f.png)
This is my direct use of Fiddler as an agent.



I don't know if it's helpful.


Titanium-Web-Proxy-master\src\Titanium.Web.Proxy\ExplicitClientHandler.cs
```c#

                    // write back successful CONNECT response
                    var response = ConnectResponse.CreateSuccessfulConnectResponse(connectRequest.HttpVersion);

                    // Set ContentLength explicitly to properly handle HTTP 1.0
                    response.ContentLength = -1;
                    response.Headers.FixProxyHeaders();
                    connectArgs.HttpClient.Response = response;

                    await clientStream.WriteResponseAsync(response, cancellationToken);
```
I found the wrong cause.
I fixed this problem the way I got down there.
> response.ContentLength = 0;->response.ContentLength = -1;


This line was added by @bjowes :
https://github.com/justcoding121/Titanium-Web-Proxy/commit/1d06ec32fc3ac16a9be14aad19196be586abb6d4

Is it really needed for HTTP/1.0?

> This line was added by @bjowes :
> [1d06ec3](https://github.com/justcoding121/Titanium-Web-Proxy/commit/1d06ec32fc3ac16a9be14aad19196be586abb6d4) and [3087088](https://github.com/justcoding121/Titanium-Web-Proxy/commit/30870882fdccb4837ebf903647aab8abd05d524e)
> 
> Is it really needed for HTTP/1.0?

It should be no more than http 1.0

Maybe we should add a condition to check if it's HTTP/1.0 in connect request headline and use 0 or -1.

Fixed. Per RFC 7231 §4.3.6, a successful (2xx) response to a CONNECT request indicates that the proxy has established a tunnel and is switching the connection to tunnel communication. The byte stream after the header terminator belongs to the tunnel, not to a response body. Sending Content-Length: 0 or Transfer-Encoding is incorrect and causes some clients to misparse the tunnel. The fix removes Content-Length and Transfer-Encoding from the headers of any ConnectResponse with a 2xx status code before writing the response to the client stream. Commit: 36627332.

Follow-up in the latest develop commit: ExplicitClientHandler was still assigning ContentLength = 0 after CreateSuccessfulConnectResponse, which reintroduced a Content-Length header on the wire. That assignment is removed so successful CONNECT responses omit both Content-Length and Transfer-Encoding as required.